body {
  text-align: center;
  background: linear-gradient(#34ebc6 0%, #00ff48 100%);
  color: #ffffff;
  font-size: 30px;
    
}
#img1 {
  height: 350px;
  width: 400px;
}
#contact{
    background: firebrick;
    
}
#contact iframe{
    width:100%;
}
.contact_1 h3{
    display:inline;
    
}
.contact_1 a{
    color:white;
    text-shadow: none;
    
}